<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/Styles/Styles.css">
</head>
<body>
    @RenderBody()

    <p>
        <a asp-page="/Index">Home</a>
    </p>

    <p>
        <a asp-page="/Things">Things</a>
    </p>

    <p>
        <a asp-page="/ListBox">ListBox</a>
    </p>

</body>
</html>